
	<div class="content"><a name="order_info"></a>
	
		<h3>Privacy & Other Policies</h3>
			<h5>Privacy Policy</h5>
				<div class="two_column"><p class="policy_text">Cognotion&#0153; respects your privacy. Consistent with our commitment to providing you with a satisfying shopping experience, we have found that collecting Personal Information (defined below) through <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  and our mobile site, (the "Sites") and providing you with the opportunity to provide us with information as a result of your purchase from a store that sells our products (referred to in this Privacy Policy as the "Stores"), helps us better understand the products and services most helpful to you. Our Privacy Policy describes the types of information we gather and how we use this information. Please read this information carefully.
						<br></br>By accessing <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  and our mobile sites, and providing us with your information you agree to be bound by the Privacy Policy. This Privacy Policy may be updated from time to time. Accordingly, you should check the date of this Policy (which appears at the bottom of this page) and review any changes since the last version. If at any time you do not agree to the terms of this Privacy Policy, please do not use our Sites and refrain from purchasing from us.
<a name="shopping"></a><br></br>Our products are available for sale at many retailers, specialty and department stores. Data collected in these stores is the property of the stores and is not provided to Cognotion&#0153; unless you provide it to us. If you have questions about a store’s privacy policies, please contact the applicable store directly.</p>
				</br></br></br></br></br><h6>Use of Information Collected by Us</h6>
					<p class="policy_text">We may collect two types of information about users: "Personal Information" (such as name, email address, mailing address, phone number, mobile phone number, credit card number and the items you purchase) and "Aggregate Information" (such as information about how many users log on to our Sites on a daily basis.
						<br></br>We use customer information in an effort to improve your shopping experience and to communicate with you about our products, services, promotions and contests. We may also use this information to present offers to you, to help us target specific products and services to you, and to help us develop and improve our Sites and tailor our Sites to your interests.</p>
				<h6>Personal Information Collected Online and Via Mobile by <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a> </h6>
					<p class="policy_text">Personal Information is collected online and via mobile by us or our service providers on our behalf when users voluntarily register with <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  or via our mobile sites and applications to purchase items, receive electronic newsletters, SMS, MMS and text messages, use community and communication services, answer surveys and enter contests and other promotional opportunities provided on <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  and our mobile sites, when users make a purchase, and when users utilize the "Email to a Friend" or SMS, MMS or Text features. We also maintain a record of your product interests and purchases online and via mobile. We may receive personal usage and demographic information from third parties we work with. When you make an online purchase we collect information about you. We use this information to market our products and services to you, by adding you to our email, SMS, MMS and Text promotions and campaigns.</p>
				</div>
				
			<h5>Safe Shopping</h5>
				<div class="two_column">				
					<h6>Q: Is it safe to use my credit card?</h6>
						<p class="policy_text">A: Yes, shopping at <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  is safe. Our <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a> Safe Shopping Guarantee covers every credit card purchase on <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>. See Guarantee details below.</p>

					<h6>Q: Why is <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  so safe? </h6>
						<p class="policy_text">A: <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  protects the security of your online transaction by taking advantage of Secure Sockets Layer (SSL) technology. <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  uses digital certificates provided by Geo Trust Inc, which are required for SSL, the industry standard for encryption. SSL technology encrypts data allowing only <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  to decode </br>your information and helps to create a secure environment for transactions on the Internet. If you're not comfortable shopping online and would prefer to place your order by phone, please call our Customer Service Team toll-free at <a class="link_callout" href="tel:+#">1-800-264-5437</a>.</p>

					<h6>Q: Where can I learn more about your Privacy Policy and Terms of Use?</h6>
						<p class="policy_text">A: Please read our Privacy Policy and Terms of Use. </p>
					
					<h6>Guarantee Details:</h6> 
						<p class="policy_text">1. Under the Fair Credit Billing Act, your bank cannot hold you liable for more than $50.00 of fraudulent charges. If your bank does hold you liable for any of this $50.00, <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a> will cover the entire liability for you, up to the full $50.00. <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a> will only cover this liability if the unauthorized use of your credit card resulted through no fault of your own from purchases made at Cognotion&#0153; while using the secure server.</br></br>

2. In the event of unauthorized use of your credit card, you must notify your credit card provider in accordance with its reporting rules and procedures. </p>

					<h6>Q: Does <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  sell my information to other companies? </h6>
						<p class="policy_text">A: No. We do NOT provide or sell online customer information to any outside companies or third parties. <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a>  compiles customer information in an effort to improve and enhance our customers' online shopping experience. We may use this information for marketing and promotional purposes.</p>
				</div>
		
	</div><!--END content--> 
	
<div class="clear"></div>
	
	
