<ul class="bxslider">
  <li>
    <%=image_tag ("guesswhereslide.jpg"), :class => "slider"  %>
    <div class="caption_orange">
      <span class="cap_heading">Guess Where</span>
      <span class="cap_small">There’s a mystery state on your opponent’s card. Can you find the matching state in the crowd? </br></br>Ask YES or NO questions and then take a guess!</span>
      <div class="caption2"><a class="cap_link" href="games.php">Click here for more games!</a></div>
    </div>
  </li>
  <li>
    <%=image_tag ("running.jpg"), :class => "slider"  %>
    <div class="caption_blue">
      <span class="cap_heading">Learning Styles</span>
      <span class="cap_small">Discover if your child has </br>a Visual, Auditory, or Kinesthetic Learning style and its importance to everyday learning!</span>
      <div class="caption2"><a class="cap_link" href="learning.php">Click here for more info!</a></div>
    </div>
  </li>
  <li>
    <%=image_tag ("slide3.jpg"), :class => "slider"  %>
    <div class="caption_red">
      <span class="cap_heading">Your Candyland Adventure!</span>
      <span class="cap_small">Upload your own images and names to customize the classic Candyland Game for an outrageously fun adventure!</span>
      <div class="caption2"><a class="cap_link" href="candyland.php">Customize your game now!</a></div>
    </div>
  </li>
  <li>
    <%=image_tag ("bag_promo.jpg"), :class => "slider"  %>
    <div class="caption_green">
      <span class="cap_heading">Buy Today!</span>
 					<span class="cap_small">Use the code FREESHIP within the next 24 hours to qualify for free shipping!
            </br></br>
            Buy 2 or more games and receive a Cognotion&#0153; shirt! Buy 3 or more games to receive a Cognotion&#0153; shirt and matching drawstring backpack!
 					</span>
    </div>
  </li>
</ul>



<div class="content">

  <!--<img class="slider" src="images/img1_crop.jpg">-->



  <div class="block_headings">
    <a href="games.php"><div class="play">
      <h2>Play</h2>
      <p>Explore the power of play, have fun learning, and find your perfect Cognotion&#0153; game!</p>
    </div></a><!--END play-->
    <a href="learning.php"><div class="learn">
      <h2>Learn</h2>
      <p>Discover your child's learning style, get new information and uncover its importance!</p>
    </div></a><!--END learn-->
    <a href="games.php"><div class="create">
      <h2>Create</h2>
      <p>Put a personalized twist on your favorite game and customize it for a fun time for the whole family!</p>
    </div></a><!--END create-->
  </div><!--END block_headings-->

  <div class="clear"></div>

  <p>Cognotion&#0153; is an educational game company that is all about having fun while you learn! Here at Cognotion&#0153;, we know that every person is special and we focus on what makes your child unique. Our games are targeted to specific learning styles (visual, auditory & kinesthetic) and are customizable so that your child can learn to the best of his or her abilities while having a blast! We also feel that at the root of educational success is a strong community and we love giving back to the community, donating 15% of all proceeds to non-profits across the country! Click <a class="link_callout" href="about.php">here<a> to learn more about why we do what we do, or let us know what you think at <a class="link_callout" href="mailto:#">contact@cognotion.com</a> !</p>

  <a href="games.php"><div class="shopping"><p>The Fun Starts Here!</p></div></a>

</div><!--END content-->


<div class="clear"></div>