
	<div class="custom_pop">
		<div>
			<p class="head">Thank you!</p>
			<p>Your customized game has been added to your cart!</p>
		</div>								
	</div><!--END custom_pop--> 	
	
	<div class="content">
	
		<h3>Customize Your Candyland</h3>
    <%=image_tag ("candy_banner.jpg"), :class => "custom_banner"  %>
				<p>"Once upon a time, King Kandy, the Imperial Head Bonbon and Grand Jujube of Candy Land disappeared." Thus begins the magical journey of Milton Bradley's classic Candy Land board game. Captivated by the story of a kidnapped king and eager to help find him, little ones move their gingerbread pawns along a rainbow path and through a land of candy characters, all subjects of King Kandy's realm.
</p></br></br>

			<h5>Let's Customize It!</h5>
				<p>Fill in information, upload pictures, and choose the scenery to make your very own version of the classic game!  </p></br></br>

			<form class="customization">
				<p>Why did you decide to customize this game?</p>
					<div class="why"><input type="radio" name="why"> Just for fun </div>
					<div class="why"><input type="radio" name="why"> It's a gift </div>
					<div class="why"><input type="radio" name="why"> Both! </div>
					<div class="why"><input type="radio" name="why"> Neither </div>
				<div class="clear"></div>	
						
				<p>How many children do you want featured in this game?</p>
				<select>
  					<option value="1">1</option>
					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
  					<option value="6">6</option>
				</select>
				
				<!--<p>What are their names? (Please list all names separated by comma.) </p>
				<input type="text" name="fname"><br>-->
				
				<p>Please upload your images!</p>
				<div class="upload">
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
					<div class="child">
						Select a file: <input type="file" name="img">
						<p>Child's Name:</p>
						<input type="text" name="name">
						<p>Child's Favorite Color:</p>
						<select>
  							<option value="1">Blue</option>
							<option value="2">Yellow</option>
  							<option value="3">Green</option>
  							<option value="4">Red</option>
  							<option value="3">Orange</option>
  							<option value="4">Purple</option>
  							<option value="3">Pink</option>
  							<option value="4">Teal</option>
  					  		<option value="3">Lime</option>
  							<option value="4">Doesn't matter</option>		
						</select>
					</div>
				</div><!--END upload-->
				<div class="clear"></div>
				
				<p>Please select an overall color scheme:</p>
				<div class="color_schemes">
					<div>
						<input type="radio" name="color"> 
						Candyland
            <%=image_tag ("candy.png"), :class => ""  %>
					</div>
					<div>
						<input type="radio" name="color"> 
						Primary
            <%=image_tag ("primary.png"), :class => ""  %>
					</div>
					<div>
						<input type="radio" name="color"> 
						Retro
            <%=image_tag ("retro.png"), :class => ""  %>
					</div>
					<div>
						<input type="radio" name="color"> 
						Make-Your-Own 
					</div>
				</div><!--END color_schemes-->
				<div class="clear"></div>
				
				<p>Would you like to rename any of these Candyland locations?</p>
				<div class="rename">
					<p>Candy Castle:</p><input type="radio" name="castle"><p class="tiny">No, leave as is!</p> <input type="radio" name="castle"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Gingerbread Plum Trees:</p><input type="radio" name="trees"><p class="tiny">No, leave as is!</p> <input type="radio" name="trees"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Gumdrop Mountains:</p><input type="radio" name="mountains"><p class="tiny">No, leave as is! </p><input type="radio" name="mountains"><p class="tiny">Yes!</p> <input type="text"><div class="clear"></div>
					<p>Licorice Castle:</p><input type="radio" name="licorice"><p class="tiny">No, leave as is! </p><input type="radio" name="licorice"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Lollipop Woods:</p><input type="radio" name="woods"><p class="tiny">No, leave as is! </p><input type="radio" name="woods"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Molasses Swamp:</p><input type="radio" name="swamp"><p class="tiny">No, leave as is! </p><input type="radio" name="swamp"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Peanut Brittle House:</p><input type="radio" name="peanut"><p class="tiny">No, leave as is! </p><input type="radio" name="peanut"><p class="tiny">Yes!</p> <input type="text"><div class="clear"></div>
					<p>Peppermint Forest:</p><input type="radio" name="forest"><p class="tiny">No, leave as is! </p><input type="radio" name="forest"><p class="tiny">Yes! </p><input type="text"><div class="clear"></div>
					<p>Ice Cream Sea:</p><input type="radio" name="sea"><p class="tiny">No, leave as is! </p><input type="radio" name="sea"><p class="tiny">Yes!</p> <input type="text"><div class="clear"></div>
				</div>
				
				<div class="order_custom">Customize this game!</div>
			</form>

 
		
		
		

		
		
		
	</div><!--END content--> 
	
<div class="clear"></div>
