
	
	<div class="content"><a name="order_info"></a>
	
		<h3>Ordering Info <br>& Policies</h3>
			<h5>Ordering</h5>
				<div class="two_column"><h6>Place Orders and Pay Online</h6>
					<p class="policy_text">This website is designed to make it easy for you to locate and purchase Cognotion&#0153; products directly from retailers, nationwide (in the continental USA). When you order and pay online, our intelligent system starts working to ensure rapid delivery. We currently accept payment by Visa, MasterCard, American Express, and Discover only.</p>
				<h6>Sales Tax</h6>
					<p class="policy_text">Tax may be applied to your order if it ships from a company doing business in the same state as your shipping address.  We don’t know the exact amount of tax until your order ships, due to the unique nature of the Shopatron service.  For this reason, the order total in your confirmation email may not reflect the exact amount of this tax.  Sales tax may also be applied to shipping and handling charges.
					<br></br>Non-Profit Note: At this time we are not able to provide tax exemption on orders placed by non-profit organizations.</p>
				<h6>Telephone, Postal Mail, Fax, or Email Orders</h6>
					<p class="policy_text">Cognotion&#0153; cannot accept retail orders by Telephone, Postal Mail, Fax, or Email at this time.
						<br></br>If you cannot use our convenient online shopping catalog, it is probably due to an outdated browser. Please note: for viewing content and placing orders on our web site, we recommend using the most recent versions of Microsoft Internet Explorer, Netscape Navigator, Opera, FireFox, or Safari.
						<br></br>Sending credit card numbers by email is not secure, and we do not recommend ever doing this.</p>
				<h6>COD Orders</h6>
					<p class="policy_text">We cannot accept COD orders at this time.</p>
				<h6>Credit Card Orders</h6>
					<p class="policy_text">You may use American Express, Discover, Visa, and MasterCard as payment on orders. When using your credit card, please provide your credit card billing address, if different from the shipping address, and daytime/evening phone numbers. If the billing address you give does not match that which is on file at the financial institution or if authorization is not given for any reason, we reserve the right to cancel the order without notification.</p>
				<h6>Purchase Orders</h6>
					<p class="policy_text">Corporate and institutional purchase orders (military, government, schools and universities) for orders exceeding $1,000.00 (US) can be submitted by calling Cognotion&#0153; at <a class="link_callout" href="tel:+#">1-800-264-5437</a>. Purchase Orders for less than this quantity are not currently accepted.</p>
				<h6>Backorders</h6>
					<p class="policy_text">The nature of the website service limits the likelihood that your desired products will be backordered. If the intelligent system cannot locate an acceptable "in stock" agent to ship your order, you will be notified by email. In most cases, you will be notified if your order is not shipped within one week.</p>
				<h6>Order Questions or Changes</h6>
					<p class="policy_text">If you have placed an order via the Shopatron shopping service recently and need some information about it or would like to change it in some way, there are a number of ways you may contact us. Please note that since we begin processing your order immediately after receiving it, modifications may not always be possible.
						<br></br>You should contact us via email at <a class="link_callout" href="mailto:#">support@cognotiongames.com</a> or call us at <a class="link_callout" href="tel:+#">1-800-264-5437</a>.</p>
				<h6>Credits and Balances Due</h6>
					<p class="policy_text">Any credits on your account with us will be refunded promptly.  We will use the same method to refund the amount as you used when you placed the order.  For example, if  the order was paid by credit card, we will credit your credit card account.</p>
				<h6>Coupons & Promotions</h6>
					<p class="policy_text">From time to time, <a class="link_callout" href="sarahdriban.com/cognotion">Cognotiongames.com</a> may feature various promotions. These may include free offers, coupons, or other similar types of promotions. We have established a few simple rules that apply to these promotions:</p>
			
				<h6>All Promotions</h6>
					<ul>
						<li>All promotions are subject to the terms and conditions as shown on this site.</li>
						<li>We reserve the right to limit quantities purchased.</li>
						<li>All promotions are for a limited period, and the dates covered by the promotion are listed on this site.</li>
						<li>Various promotions have minimum purchase-amount requirements. Those requirements are set forth as part of the online-promotion description. When calculating the minimum purchase amount, we do not include charges for shipping, handling, or the applicable tax.</li>
						<li>Unless otherwise stated as part of the promotion description, all promotions require a purchase.</li>
						<li>Free Shipping offers are available only to non-P.O. Box addresses in the continental United States. These promotions are not available for purchases that will be delivered to APOs, FPOs, Alaska, or Hawaii.</li>
						<li>All promotions are void where prohibited by law.</li>
						<li>You must enter the specified promo code at checkout in order to receive your savings unless otherwise stated.</li>
						<li>Valid only for new purchases. </li>
						<li>Coupons are promos are not redeemable for cash or credit.</li>
						<li>Free items are not returnable/refundable.</li>
					</ul>
				<h6>Coupons</h6>
					<ul>
						<li>Only one (1) promotional code may be redeemed per order at <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a>.</li>
						<li>Coupons and promo codes are only valid for use at <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a>.</li>
						<li>Any use of a coupon for products other than those indicated constitutes fraud.</li>
						<li>You are responsible for any applicable sales tax.</li>
						<li>Refunds for items purchased through the web store using a coupon will be at the price actually paid for the item, not at the full price.</li><a name="promise"></a>
						<li>Coupons have no cash value.</li>
						<li>Coupons for <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> that are on websites or blogs not owned by Cognotion&#0153;, may not be valid.</li>
					</ul>
				<h6>Free Items</h6>
					<ul>
						<li>Items received free may not be returned.</li>
					</ul></div>
			<h5>Our Promise</h5><a name="shipping"></a>
				<div class="two_column"><p class="policy_text">Over 25 years ago we started our company in the garage of the home where Doug grew up — we had to be careful not to disturb Doug's parents who were still living there! Thanks to your support, we've been able to move into a real office down the road, a building that actually has separate ladies and men's bathrooms! Our philosophy has remained the same over the years–to make each and every customer a happy and permanent member of the Cognotion&#0153; family, while offering products with tremendous value, quality and design. Our line offers something for everyone with over 2,000 innovative products for children of all ages! We've always welcomed customer suggestions, and we continually strive to make improvements to our products. We're honored by the faith you place in us and view it as our responsibility to continue to earn your trust in the years to come!
					<br></br>Thanks for visiting <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a>. Your feedback makes a difference and we want to hear from you. For general comments and questions, please call us at <a class="link_callout" href="tel:+#">1-800-264-5437</a> or email us at <a class="link_callout" href="mailto:#">support@cognotiongames.com</a>.</p></div>
				
		<h5>Cognotion&#0153; Shipping Policy</h5>
				<div class="two_column"><h6>Free Promotional Shipping (with promo code)</h6>
					<p class="policy_text">Free Shipping promo codes apply to ground shipping only. Offer excludes AK, HI, and other non-contiguous US locations. Only 1 promo code may be used per purchase at checkout.</p>
				<h6>Cognotion.com Ships to:</h6>
					<p class="policy_text">The 50 U.S. States, District of Columbia, and Puerto Rico. We strive to get your purchase to you as quickly as possible. Most orders arrive within 3-7 business days of successful payment processing. The cost for shipping is determined by an algorithm that takes into account total weight and size of your package, as well as the destination zip code. Please see your shopping cart for the shipping charges pertaining to your order. </p>	
				<h6>Canadian and International Orders</h6>
					<p class="policy_text">Currently we only ship website orders to the 50 U.S. States, District of Columbia, and Puerto Rico.</p>	
				<h6>Shipping Service Options</h6>
					<a name="returns"></a><p class="policy_text">We offer 2 levels of shipping service: Standard or Express. With Standard Shipping, most orders are delivered within 3–7 business days. (Add 2 days for personalized orders with standard shipping.) With Express Delivery (available for all products including personalized items), you will be given the option of 2 different delivery dates. Your order will be delivered by the date you choose. All deliveries, regardless of shipping method, require a physical address; be sure to provide your street address (not a P.O. box).</p>			
				</br></br></br><h6>Shipping Confirmation Emails and Tracking Your Order</h6>
					<p class="policy_text">We will send you a shipping confirmation email when your order ships. This email contains your package tracking number and the parcel carrier handling your shipment. You can also check the status of your order anytime by clicking the My Cart link at the top and bottom of <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a>. Click that link and sign in using your email address and password. Then click on My Orders to view Open Orders, Shipped Orders, or All Orders. You can also use the Track My Order link at the bottom of our website. Additional questions about your order can be answered by calling <a class="link_callout" href="tel:+#">1-800-264-5437</a> Toll-free from the U.S. Or Canada. </p>	
				<h6>Shipping in Multiple Packages</h6>
					<p class="policy_text">If your order includes several items, they may ship separately and at different times. In order to deliver your purchases to you as quickly and efficiently as possible, items that ship from the same location are grouped together. This could result in part of your order arriving at a different time, but still within the expected delivery window.</p>
				<h6>Delivering Your Package</h6>
					<p class="policy_text">We process and ship packages Monday through Friday. At this time, we do not ship on Saturday, Sunday, or holidays.</p>
					<ul>
						<li>Your order may be delayed if your shipping address is different from your billing address (we use this additional time to help ensure the security of your credit information).</li>
						<li>Most items ship within 1-2 business days of successful payment processing.</li>
					</ul></div>

		
		
			<h5>Cognotion&#0153; Return Policy</h5>
				<div class="two_column"><h6>Returning Merchandise</h6>
					<p class="policy_text">We will gladly refund your purchase price, excluding shipping and handling charges if your order is returned to the merchant shipper. (Please see conditions below.)
Merchandise will be accepted for return within 30 days of receipt. The merchandise must be in new and unused condition and in its original packaging.
				</br></br><a name="terms"></a>When you receive your order, the contact information of the merchant shipper will be displayed in the paperwork.  Merchant shipper is the term used to refer to the company that actually shipped your order. Please keep your paperwork in case you need to arrange for returns or exchanges, and read the instructions thoroughly for faster processing of returns. Also, please keep any emails you receive regarding your order, as they may contain important information.</p>
				</br></br><h6>Personalization</h6>
					<p class="policy_text">Personalized items may not be returned.</p>
				<h6>Defective Returns</h6>
					<p class="policy_text">If the item you wish to return is inoperable, but has no apparent damage, it is considered defective. Defective merchandise should be returned directly to Cognotion&#0153;.  Please call Cognotion&#0153; Customer Service at <a class="link_callout" href="tel:+#">1-800-264-5437</a>  to arrange for the repair or replacement.</p>
				<h6>Damaged Returns</h6>
					<p class="policy_text">Damaged merchandise includes items that have been damaged in shipping. If a shipment arrives at your door with apparent shipping damage, please refuse the delivery. If you have already accepted delivery and then find shipping damage, please call the merchant shipper immediately. The contact information for the merchant shipper will be in the box. Save all packaging material and paperwork; do not throw anything away!</p>
			</div>
		
		
		
		
			<h5>Terms of Use</h5>
				<div class="two_column"><p class="policy_text">Please carefully read the following Terms of Use before using the <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> Web site (the "Site"). By accessing this Site, you agree to be bound by these Terms of Use. These Terms of Use may be updated from time to time. Accordingly, you should check the date of the Terms of Use (which appear at the end of this document) and review any changes since the last version. If at any time you do not agree to these Terms of Use, please do not use this Site.</p>
				<h6>Transactions</h6>
					<p class="policy_text">We reserve the right at any time after receipt of your order to accept or decline your order, or any portion thereof, even after your receipt of an order confirmation. We reserve the right, at our sole discretion, to limit the quantity of items purchased and/or to prohibit sales to dealers. In the event that a product is listed at an incorrect price, we shall have the right to refuse or cancel orders placed for the product listed at the incorrect price, regardless of whether the order has been confirmed and/or your credit card charged. If your credit card has already been charged for the purchase and your order is canceled, we will promptly issue a credit to your credit card account in the amount of the incorrect price.</p>
				<h6>Copyright</h6>
					<p class="policy_text">All content included in the Site, such as text, graphics, logos, button icons, images, audio clips and software, is the property of Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> or its content suppliers and protected by U.S. and international copyright laws. The compilation (meaning the collection, arrangement and assembly) of all content on the Site is the exclusive property of Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> and protected by U.S. and international copyright laws. All software used on the Site is the property of Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> or its software suppliers and protected by U.S. and international copyright laws. Permission is granted to electronically copy and print hard copy portions of the Site for the sole purpose of placing an order on the Site or using the Site as a shopping resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display or performance, of the content of the Site is strictly prohibited.</br></br>
By submitting copy/text for personalization, the customer represents that the use thereof by the factory on the items ordered will not violate any laws, and Cognotion&#0153; hereby disclaims any liability for compliance with such laws in the use of the costumer’s copy or material.</p>

				<h6>Product Information</h6>
					<p class="policy_text">Most products displayed on the Site are available at <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> and at retail stores in the United States while supplies last. In some cases, merchandise displayed for sale on the Site may not be available in stores and vice versa. The prices displayed on the Site are quoted in U.S. dollars and are valid and effective only in the United States. The particular technical specifications and settings of your computer and its display could affect the accuracy of its display of the colors of products offered on the Site.</p>

				</br><h6>Trademarks</h6>
					<p class="policy_text">All trademarks, logos, service marks and trade names are proprietary to Cognotion&#0153; <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> or other respective owners that have granted the Site the right and license to use such intellectual property.</p>

				<h6>Disclaimer</h6>
					<p class="policy_text">The information, services, products offered for sale and materials contained in and/or advertised on the Site, including, without limitation, text, graphics and links, are provided on an "As Is" basis with no warranty. TO THE MAXIMUM EXTENT PERMITTED BY LAW, Cognotion&#0153;, <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> AND ITS SUPPLIERS DISCLAIM ALL REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO SUCH INFORMATION, SERVICES, PRODUCTS AND MATERIALS, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, FREEDOM FROM COMPUTER VIRUS AND IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE. In addition, Cognotion&#0153;, <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> and its suppliers do not represent or warrant that the information accessible via the Site is accurate, complete or current. We are not responsible for typographical errors. Price and availability information is subject to change without notice.</p>

				<h6>Links to Other Web sites and Services</h6>
					<p class="policy_text">This Site may contain links to Web sites other than our own. Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> do not assume any responsibility for those sites and provides those links solely for the convenience of our visitors. Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> do not control the content of these sites and takes no responsibility for their content, nor should it be implied that Cognotion&#0153; and <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> endorses or otherwise recommends such sites or the products or services offered.</p>

				<h6>Limitation on Liability</h6>
					<p class="policy_text">IN NO EVENT SHALL Cognotion&#0153;, <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> OR ANY OF ITS AFFILIATED ENTITIES OR SUPPLIERS BE LIABLE FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, EVEN IF Cognotion&#0153; AND <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a> HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION, UNDER CONTRACT, NEGLIGENCE OR ANY OTHER THEORY, ARISING OUT OF OR IN CONNECTION WITH THE USE, INABILITY TO USE OR PERFORMANCE OF THE INFORMATION, SERVICES, PRODUCTS AND MATERIALS AVAILABLE FROM THE SITE. These limitations shall apply notwithstanding any failure of essential purpose or the existence of any limited remedy. Because some jurisdictions do not allow limitations on how long an implied warranty lasts, or the exclusion or limitation of liability for consequential or incidental damages, the above limitations may not apply to you.</p>

				<h6>Applicable Law</h6>
					<p class="policy_text">The laws of the State of Pennsylvania will govern these Terms of Use without giving effect to any principles of conflict of law.</p>
			</div>
		
		
		
		
		
		
		
		
	</div><!--END content--> 
	
<div class="clear"></div>
	
